@import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@600&display=swap");

/*
'Shadows Into Light', cursive
*/
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(206, 126, 7);
}

#span-text {
    color: black;
}

.navigate {
    float: right;
}

.description {
    color: white;
}

#pizza {
    font-family:  'Vollkorn', serif;
    font-size: 40px;
    font-weight: normal;
    color: rgb(185, 82, 8);
}
.cdata-overlay{
    font-family: 'Vollkorn', serif;
    background-color: rgb(185, 82, 8);
    height: inherit;
    padding: 30px;
    border-radius: 50px;
}
.col-sm-4 img{
    border-radius: 10em;
}

li {
    display: inline;
    margin-right: 20px;
    font-family: 'Vollkorn', serif;
}

.menu-btn {
    border-radius: 10em;
    margin-top: 20px;
    color: #000;
}

figcaption {
    font-family: 'Vollkorn', serif;
}

#menu {
    padding-top: 20px;
}

#order-pizza {
    color: #000;
}

#list li {
    font-size: 24px;
    font-family: 'Vollkorn', serif;
}
.order-summary h1, .summary, .contact {
    color: #000;
    font-family: 'Vollkorn', serif;
    margin-top: 30px;
}

.click-me, button[type=submit], .deliver, .delivernot {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    background-color: rgb(185, 82, 8);
    outline: none;
    padding: 12.5px 13px;
    border: none;
    border-radius: 30px;
    font-size: 14px;
}

.deliver, .delivernot {
    margin: 10px;
}

h4 {
    margin: 0;
    padding: 0;
    font-family: 'Vollkorn', serif;
    letter-spacing: 1px;
}

#order-pizza {
    padding: 20px 50px 20px 50px;
    font-family: 'Vollkorn', serif;
}

.order-overlay {
    height: inherit;
    padding: 20px;
    background-color: rgb(185, 82, 8);
    border-radius: 20px;
}

.checkout {
    border-radius: 20px;
    margin-top: 20px;
}

#list {
    color: white;
}

.pizza {
    color:black;
}

.menu {
    margin-top: 30px;
    background-image: url("../images/Onions.jpeg");
    padding: 0;
    background-size: cover;
}

#menu {
    font-family:'Vollkorn', serif;
}
.menu-overlay {
    height: inherit;
    width: inherit;
    background-color: rgba(0, 0, 0, 0.7);
}


/*Background image*/
.landing {
    background-image: url("../images/welcome\ pizza1.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
}
#push {
    padding-top: 5%;
}
.landing-text {
    margin-top: 10%;
}
.landing-text h1, h2 {
    font-family: 'Vollkorn', serif;
}
.landing-text h1 {
    font-family: 'Vollkorn', serif;
    font-size: 50px;
}
a {
    color: white;
    font-size: 20px;
    font-weight: normal;
}

.welcome-txt {
    margin-top: 70px;
    
}

.text-center{
    font-family: 'Vollkorn', serif;
}
.txt {
    font-family: 'Vollkorn', serif;
    color: black;
    font-size: 23px;
}

.txt-big {
    font-size: 50px;
    font-family: 'Vollkorn', serif;
}
.col-sm-6 img{
    border-radius: 10em;
    margin-left: 20px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    
}

.welcome {
    padding-top: 30px;
}

/* Collapse nav start*/
.top-nav-collapse {
    background-color: rgb(185, 82, 8)!important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}
/** Media Queries **/

@media (max-width: 740px) {
    html,
    body,
    header,
    .view {
        height: 1000px;
        overflow-x: hidden;
    }

    #push {
        padding-top: 40%;
    }

    .welcome-txt {
        margin-top: 50px;
    }

    .menu-overlay {
        width: 100%;
        height: inherit;
    }

    .welcome {
        padding-top: 10px;
    }

}

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .view {
        height: 650px;
    }

    .pizza {
        font-size: 50px;
    }

    ul > .nav-items {
        display: inline;
        margin-right: 20px;
        margin-left: 12px;
    }
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background-image: url(../images/Capture\ pizza\ logo0.PNG) !important;
        border-radius: 10em;
    }

}
/** Media Queries **/

.login-buttons {
    margin-top: 90px;
    margin-bottom: 100px;
}

.login-buttons button {
    border-radius: 40px;
    color: black;
}

.menu-btn {
    border-radius: 5em;
    margin-top: 20px;
    color: black;
}

figcaption {
    font-family: 'Vollkorn', serif;
}
/* FOOTER*/
.footer{
    background-image: url(../images/Chesse\ Pizza5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 400px;
    position: relative;
}
.footer .footer-content{
height: 300px;
display: flex;
}
.footer .footer-content .footer-section{
    flex: 1;
    padding:25px;
    border: 1px rgb(24, 23, 23);
    font-family: 'Vollkorn', serif;
}
.footer .footer-content h1,
.footer .footer-content h2{
    color:whit;
}
.footer .footer-content .about h1 span{
    color: rgb(185, 82, 8);
}

.footer .footer-content .about .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}
.footer .footer-content .about .socials a{
    border: 1px solid  rgb(185, 82, 8);
    width:45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    font-family: 'Vollkorn', serif;
    border-radius: 5px;
    transition: all .3s;
}
.footer .footer-content .about .socials a:hover{
    border: 1px solid  rgb(185, 82, 8);
    color:white;
    transition: all .3s;
}

.footer .footer-content .links ul a{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-family: 'Vollkorn', serif;
    transition: all .3s;
}
.footer .footer-content .links ul a:hover{
    color:white;
    margin-left: 15px;
    transition: all .3s;
}

.footer .footer-content .contact-form .contact-input{
    background:  rgb(185, 82, 8);
    font-family: 'Vollkorn', serif;
    border:black;
    color:white;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding:.9em 1.4rem;
    border: none;
}
.footer .footer-content .contact-form .contact-input:focus{
    background: rgb(12, 12, 12);
}
.btn{
    padding: .5rem 1rem;
    border: 2px solid black;
    border-radius: .25rem;
}
.btn:hover{
    color: white!important;
    background:  rgb(185, 82, 8);
}

.footer .footer-bottom{
background:  rgb(206, 126, 7);
font-family: 'Vollkorn', serif;
font-size: 1em;
color: white;
height:50px;
width:100%;
text-align:center;
position: absolute;
bottom: 0px;
left:0px;
padding-top: 20px;
}